<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 实体类,简称 -设置别名 -->
    <typeAliases>
        <typeAlias alias="Todo" type="com.leo.dto.Todo" />
        <typeAlias alias="Borrow" type="com.leo.dto.Borrow" />
        <typeAlias alias="NewsDto" type="com.leo.dto.NewsDto" />
        <typeAlias alias="Feedback" type="com.leo.dto.Feedback" />
        <typeAlias alias="Practise" type="com.leo.dto.PractiseDto" />
        <typeAlias alias="Register" type="com.leo.dto.RegisterDto" />
    </typeAliases>
    <mappers>
        <mapper resource="mapper/TodoMapper.xml" />
        <mapper resource="mapper/BorrowMapper.xml" />
        <mapper resource="mapper/NewsMapper.xml" />
        <mapper resource="mapper/FeedbackMapper.xml" />
        <mapper resource="mapper/PractiseMapper.xml" />
        <mapper resource="mapper/RegisterMapper.xml" />
    </mappers>
	<!-- <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>-->
</configuration>