<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 实体类,简称 -设置别名 -->
    <typeAliases>
        <typeAlias alias="Todo" type="com.leo.dto.Todo" />
        <typeAlias alias="Borrow" type="com.leo.dto.Borrow" />
        <typeAlias alias="NewsDto" type="com.leo.dto.NewsDto" />
    </typeAliases>


    <mappers>
        <mapper resource="mapper/TodoMapper.xml" />
        <mapper resource="mapper/BorrowMapper.xml" />
        <mapper resource="mapper/NewsMapper.xml" />
    </mappers>

</configuration>